@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ource scan */
@source "../../resources/views*.blade.php";
@source "../../resources/views/components*.blade.php";
@source "../../resources/js*.{js,jsx,ts,tsx,vue}";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
/* The core CSS for the required asterisk */
.required::after {
    content: " *"; /* Add a space before the asterisk for better spacing */
    color: red  ;
    margin-left: 3px; /* Adjust spacing as needed */
    vertical-align: super; /* Makes the asterisk slightly superscript */
    font-size: 0.8em; /* Make the asterisk slightly smaller */
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* primary */
  --color-primary-50: oklch(98.2% 0.018 155.83);
--color-primary-100: oklch(96.2% 0.044 156.74);
--color-primary-200: oklch(92.5% 0.084 156);
--color-primary-300: oklch(87.1% 0.15 154.45);
--color-primary-400: oklch(79.2% 0.209 151.71);
--color-primary-500: oklch(72.3% 0.219 149.58);
--color-primary-600: oklch(62.7% 0.194 149.21);
--color-primary-700: oklch(52.7% 0.154 150.07);
--color-primary-800: oklch(44.8% 0.119 151.33);
--color-primary-900: oklch(39.3% 0.095 152.54);
--color-primary-950: oklch(26.6% 0.065 152.93);

  /* secondary */
  --color-secondary-50: oklch(98.4% 0.003 247.86);
  --color-secondary-100: oklch(96.8% 0.007 247.9);
  --color-secondary-200: oklch(92.9% 0.013 255.51);
  --color-secondary-300: oklch(86.9% 0.022 252.89);
  --color-secondary-400: oklch(70.4% 0.04 256.79);
  --color-secondary-500: oklch(55.4% 0.046 257.42);
  --color-secondary-600: oklch(44.6% 0.043 257.28);
  --color-secondary-700: oklch(37.2% 0.044 257.29);
  --color-secondary-800: oklch(27.9% 0.041 260.03);
  --color-secondary-900: oklch(20.8% 0.042 265.76);
  --color-secondary-950: oklch(12.9% 0.042 264.7);
}

